<%= render :partial => 'main/header'%>
<div class="container">
	<div class="well">
		<legend>申請成功，處理完成時會mail至您的信箱，謝謝</legend>
		<center>
			<img src="/resource/img/wait.png" />
		</center>
	</div>
</div>